.tickets-overview {
    width: 100%;
    height: 100%;
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    .tickets-overview-horizontal-buttons {
        grid-column: 2 / 12;
        grid-row: 2 / 3;
    }

    .tickets-overview-list {
        grid-column: 2 / 12;
        grid-row: 3 / -1;
    }


}