.horizontal-buttons-container {
  height: 100%;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  div {
    margin-right: 10px;
  }

  @media (max-width: 650px) {
    div:nth-child(2){
      display: none
    }
  }

  div:last-child{
    margin-left: auto;
    margin-right: 0
  }
}

